#fadeModal {
    transition: 0.5s ease-in-out;
}
.margin-w-3 {
    display: block;
    margin: auto;
}
.span-middle {
    display: block;
    margin: 0 auto 0;
}
.profile-section {
    display: flex;
} 

.proj-img {
    transition: 0.4s ease-in-out;
}.proj-img:hover {
    transform: scale(1.05);
    filter: opacity(0.8);
    -webkit-filter: opacity(0.8);
}
@media (max-width: 768px) {
    .profile-section {
        flex-direction: column;
    }
}

.banner {
    -webkit-filter: opacity(.7);
    filter: opacity(.7);
}
.design-banner {
    margin-bottom: 8rem;
}
.work-firm {
    color: rgba(43,115,193, 1);
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}
.work-title {
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}
.work-sub {
    font-weight: 300;
    font-size: 1.1rem;
}

/* slide-in effect */
.come-in {
    transform: translateY(150px);
    opacity: 0;
    animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}  
@keyframes come-in {
    to { transform: translateY(0); opacity: 1;}
}